@media screen and (min-width: 400px) {
  .pseudo-button-orange-for-footer,
  .pseudo-button-white-for-footer {
    padding: 16px 42px;
  }
}

@media screen and (min-width: 600px) {
  .first-on-pc {
    order: -1;
  }
  .white-footer {
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 10px;
  }
  .footer-icon {
    display: block;
    min-width: 150px;
  }
  .black-footer {
    background-image: url(../img/Rectangle\ 47.png);
  }
  .two-phones {
    margin-bottom: 0px;
  }
  .middle {
    flex-direction: row;
    margin: 0 20px;
    padding: 50px 0;
    column-gap: 20px;
  }
  .middle-conteiner-text {
    max-width: 568px;
    padding: 0;
  }
  .middle-phones-container {
    width: fit-content;
  }
  .middle-small-text,
  .medium-text-orange,
  .middle-big-text {
    text-align: left;
  }
  .big-text {
    max-width: 1037px;
    font-size: 58px;
    line-height: 80px;
  }
  .middle-small-text {
    padding: 0 0;
  }
  .starter-conteiner-buttons {
    flex-direction: row;
    column-gap: 35px;
  }
  .small-icon-header {
    display: none;
  }
  .big-icon-header {
    display: block;
  }
  .header {
    padding: 20px 70px;
  }
  .big-text {
    color: #fff;
  }
  .smaller-text,
  .small-text {
    color: #f6f6f6;
  }
  .top {
    background-image: url(../img/Rectangle\ 48.png);
    background-repeat: repeat-x;
  }
  
}

@media screen and (min-width: 884px) {
  .palka {
    width: fit-content;
    min-width: 884px;
    margin: 50px auto;
  }
  .middle {
    margin: 0;
    column-gap: 100px;
  }
}
