.box-for-mickey {
  position: relative;
  border: 2px solid transparent;
  width: 400px;
  height: 300px;
  margin: 20px;
}

.left-ear, .right-ear, .main-round {
  position: absolute;
  background-color: black;
  border-radius: 50%;
}

.main-round {
  width: 200px;
  height: 200px;
  bottom: 0;
  left: 100px;
}

.left-ear, .right-ear {
  width: 100px;
  height: 100px;
}

.left-ear {
  top: 50px;
  left: 50px;
}
.right-ear {
  top: 50px;
  right: 50px;
}