.box-for-mickey {
  border: 2px solid transparent;
  width: 400px;
  height: 300px;
  margin: 20px;
}

.main-round {
  position: relative;
  background-color: black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  top: 100px;
  left: 100px;
  box-sizing: border-box;
}

.left-ear, .right-ear{
  position: absolute;
  background-color: black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.left-ear {
  /* margin-top: -50px;
  margin-left: -40px; */
  top: -45px;
  left: -40px;
}
.right-ear {
  top: -45px;
  right: -40px;
}