@font-face {
  font-family: 'Agbaluma';
  src: url('./fonts/Agbalumo/Agbalumo-Regular.ttf');
  font-weight: 400;
}

body{
  font-family: Agbaluma;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}