*{
  box-sizing: border-box;
}

.grid{
  display: grid;
  min-height: 100vh;
  /* grid-template-columns: 150px 1fr 200px;
  grid-template-rows: 1fr 3fr 1fr; */
  grid-template: repeat(5, 1fr) / 150px 1fr 200px;
}
.header{
  background-color: aquamarine;
  grid-column-start: 1;
  grid-column-end: 4;
}

.section{
  background-color:rgb(209, 122, 226);
  grid-row: 2 / span 4;
  grid-column: 1/ 2;
}

.main{
  background-color: tomato;
  grid-area: 2/ 2/ span 3/ span 2;
}
.aside{
  grid-area: 2/ 3/ span 3/ span 4;
  background-color:rgb(137, 179, 65);
}
.footer{
  background-color: cornflowerblue;
  /* grid-row: 3/4; */
  /*   grid-column-start: 1 / grid-column-end: 4; */
  
  /* grid-column: 2/4; */
  /* row column row-end column-end */
  grid-area: 5 / 2 / span 2 / 4;
}