.header {
  padding: 20px;
  background: lightgray;
  border: 2px solid black;
  position: sticky;
  top: 0;
}

.lightTheme{
  background: lightgray;
  color: black;
}
.darkTheme{
  background: black;
  color: white;
}