@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

form, body, section, div {
  display: flex;
}

body {
  font-family: "Heebo", sans-serif;
  justify-content: center;
  align-items: center;
}

form {
  margin: 50px;
  max-width: 350px;
  flex-direction: column;
  padding: 35px 25px;
  background-color: rgb(242, 243, 247);
  border: 2px rgba(85, 85, 85, 0.534) solid;
  gap: 20px;
}
h2,
p {
  text-align: center;
}

h2 {
  font-size: 28px;
  position: relative;
  color: rgb(112, 113, 114);
}

h2::after,
h2::before,
input {
  border: 1px solid rgb(202, 203, 206);
}

h2::after,
h2::before {
  position: absolute;
  content: "";
  width: 28%;
  height: 0px;
  display: block;
  top: 50%;
}
h2::before {
  left: 0;
}
h2::after {
  right: 0;
}

p,
input {
  color: rgb(140, 141, 143);
}

p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
}
a {
  color: rgb(78, 143, 82);
  text-decoration: none;
}

input {
  border-radius: 3px;
  padding: 10px;
  height: 35px;
}

section:first-of-type {
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

section:last-of-type {
  flex-direction: row;
  align-items: center;
  gap: 0 5px;
}

section:last-of-type input {
  height: fit-content;
}

button{
  padding: 10px 0;
  border-radius: 5px;
  background-color: rgb(80,168,81);
  color: azure;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid transparent;
  transition: all .1s linear;
}

button:hover{
  background-color: transparent;
  color: rgb(80,168,81);
  border: 2px solid rgb(80,168,81);
}

div{
  flex-direction: row;
  justify-content: space-between
}

div input{
  max-width: 48%;
}