.addingInput {
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s;
}
.addingInput:focus-visible {
  outline: none;
  border: 2px solid rgb(44, 107, 236);
}
.addingButton,
.taskButton {
  padding: 13px;
  background-color: rgb(44, 107, 236);
  color: white;
  border-radius: 10px;
  border: 0px;
  transition: all 0.2s;
  border: 2px solid rgb(44, 107, 236);
}
.taskButton {
  max-width: 100px;
  background-color: rgb(26, 23, 163);
  border: 2px solid rgb(26, 23, 163);
  padding: 10px;
  font-size: 14px;
}
.addingButton:hover,
.taskButton:hover {
  background-color: transparent;
  color: black;
}
