*{
  padding: 0;
  margin: 0;
  font-family:Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

p, label {
  font-size: 20px;
}

.divHolder{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(65, 123, 238);
}

.listBox {
  min-height: fit-content;
  min-width: fit-content;
  border-radius: 10px;
  border: 2px rgb(44,107,236) solid;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 40px;
  gap: 20px;
}

.addingInput{
  padding: 10px;
  border-radius: 10px;
  transition: all 0.2s;
}
.addingInput:focus-visible{
  outline: none;
  border: 2px solid rgb(44,107,236);
}

.addingButton, 
.taskButton{
  padding: 13px;
  background-color: rgb(44,107,236);
  color: white;
  border-radius: 10px;
  border: 0px;
  transition: all .2s;
  border: 2px solid rgb(44,107,236);
} 

.taskButton{
  max-width: 100px;
  background-color: rgb(26,23,163);
  border: 2px solid rgb(26,23,163);
  padding: 10px;
  font-size: 14px;

}

.addingButton:hover,
.taskButton:hover{
  background-color: transparent;
  color: black;
}

.toDoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  gap: 20px;
}

.task {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid rgb(188,206,209);
  background-color: rgb(197,225,229);
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.3s;
}

.taskDone{
  border: 2px solid rgb(110, 211, 148);
  background-color: rgb(99, 233, 152);
}

@media screen and (min-width: 534px) {
  .task {
    display: grid;
    grid-template-columns: 300px 100px;
    justify-content:center;
    align-items: center;
  }
  .listBox {
    min-width: 450px;
    min-height: 400px;
  }
  .toDoForm {
    flex-direction: row;
    gap: 40px;
  }
  p, label {
    font-size: 20px;
  }
  .taskButton{
    font-size: 18px;
    max-width: none;
  }
}