@use '../../scss/themes';

.newHeader {
  min-width: 100px;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-self: center;
  border-bottom: 2px solid black;
  justify-content: space-evenly;
  align-items: center;
  h1 {
    font-size: 24px;
  }
  &Light {
    @include themes.light;
  }
  &Dark {
    @include themes.dark;
  }
}
