*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}

.header{
  height: 100vh;
  width: 100%;
  color: #926239;
  background-image: url(../../img/beach.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.naming {
  margin: 0 auto;
  width: 60%;
  padding-top: 40vh;
  text-align: center;
}
.topic-size{
  font-size: 50px;
}
.text-size{
  font-size: 20px;
}
.spyButton{
  display: block;
  padding: 10px 20px;
  color: inherit;
  border: 1px solid #926239;
  border-radius: 10px;
  text-decoration: none;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 20px;

  font-size: 18px;
}
.spyButton:hover {
  color: rgb(255, 255, 255);
  background-color: #926239;
  border: 1px solid rgba(255, 255, 255, 0);
}
.block {
  display: block;
  padding: 20px;
  text-align: center;
}
.inlineBlock {
  display: inline-block;
  padding: 20px;
  text-align: center;
  max-width: 33%;
  box-sizing: border-box;
}
.brownBG{
  background-color: #926239;
  color: #fff;
}
.whiteBG{
  background-color: #fff;
  color: #926239;
}